:root {
  --accent-color: #4d5ae5;
  --pressed-state: #404bbf;
  --primary-text-color: #434455;
  --secondary-text-color: #2e2f42;
  --white-color: #ffffff;
  --footer--: #e7e9fc;
  --button-background--: #f4f4fd;
  --customers-logo: #8e8f99;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--white-color);
}
h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

textarea {
  resize: none;
}

/* Container */

.container {
  max-width: 1158px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Logo/Header */

.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.logo-header {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);

  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 76px;
}
.span-header {
  color: var(--accent-color);
}

.logo-footer {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  color: #f4f4fd;
}
.span-footer {
  color: var(--accent-color);
}

/* Menu Nav */

.main-nav {
  display: flex;
  flex-wrap: wrap;
}

.menu-nav {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.nav-title:not(:last-child) {
  margin-right: 40px;
}
.nav-title {
  position: relative;
}

.adress-nav {
  margin-left: auto;
  padding-top: 24px;
  padding-bottom: 24px;
}

.mail-tel {
  font-style: normal;
  list-style: none;
}

/* Hero Image */

.hero {
  text-align: center;
  padding-top: 112px;
  padding-bottom: 112px;
  background-color: var(--secondary-text-color);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/Dark-bg-mob.jpg);
  background-position: center;
  background-size: cover;

  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bg-mob-2x.jpg);
  }
}

.hero-item {
  width: 496px;
  display: inline-block;
}

/* Links */

.nav-link {
  display: block;
  padding: 24px 0;
  text-decoration: none;
  color: var(--secondary-text-color);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--pressed-state);
}

.nav-link-border::after {
  background: var(--pressed-state);
  border-radius: 2px;
  content: "";
  position: absolute;
  height: 4px;
  width: 100%;
  display: block;
  bottom: -1px;
}

.nav-link-border {
  color: var(--pressed-state);
}

.address-link:hover,
.address-link:focus {
  color: var(--pressed-state);
}

.address-link {
  font-style: normal;
  text-decoration: none;
  color: var(--primary-text-color);

  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Order Service Button */

.orderservice:hover,
.orderservice:focus {
  background: var(--pressed-state);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.orderservice {
  background: var(--accent-color);
  cursor: pointer;
  text-align: center;
  display: inline-block;
  padding: 16px 32px;
  font-weight: 500;
  line-height: 1.5;
  color: var(--white-color);
  border-radius: 4px;
  letter-spacing: 0.04em;
  border: none;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Sections */

.feature-section. {
  padding-top: 120px;
}

.hero-title {
  color: var(--white-color);

  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
  max-width: 496px;
  width: 100%;
}
.title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--secondary-text-color);
  margin-bottom: 72px;
}
.section-title {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  margin-bottom: 8px;
}

.team-section-title {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  margin-bottom: 8px;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Section Text */

.section-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  margin: 0;
}

.team-position {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  margin-bottom: 8px;
}

.fetaure-section {
  display: flex;
  flex-wrap: wrap;
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;

  padding: 0;
}
.feature {
  width: 264px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.feature:not(:last-child) {
  margin-right: 24px;
}

.feature-icons-block {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  border: none;
  justify-content: center;
  align-items: center;

  background: var(--button-background--);
  border-radius: 4px;
  width: 264px;
  height: 112px;
  margin-bottom: 8px;
}

.feature-icons {
  width: 64px;
  height: 64px;
}

.information-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.information-item:not(:last-child) {
  margin-right: 24px;
}
.ourteam {
  background: var(--button-background--);
  text-align: center;
}
.team-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.team-card:not(:last-child) {
  margin-right: 24px;
}

.team-card {
  background: var(--white-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.footer {
  background: var(--secondary-text-color);
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-text {
  margin: 0;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--footer--);
  width: 264px;
  margin-top: 16px;
}

/* Portfolio */

.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.button-all:hover,
.button-all:focus {
  color: var(--white-color);
  background-color: var(--pressed-state);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.button-all {
  padding: 12px 24px;
  background: var(--button-background--);
  border: 1px solid var(--footer--);
  border-radius: 4px;

  color: var(--accent-color);
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
  letter-spacing: 0.04em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-text:hover,
.button-text:focus {
  color: var(--white-color);
}
.filters {
  list-style: none;
  display: flex;

  justify-content: center;

  margin-bottom: 72px;
}
.portfolio-cards {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.filters-text:hover {
  color: var(--white-color);
}

.btn:not(:last-child) {
  margin-right: 24px;
}

.project-card {
  background: var(--white-color);
  margin-bottom: 48px;
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-card:hover,
.project-card:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.project-card:not(:nth-child(3n)) {
  margin-right: 24px;
}

.border {
  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  padding-top: 32px;
  padding-left: 16px;
  padding-bottom: 32px;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-what {
  display: none;
}

.team-card-text {
  padding: 32px 0;
}

.section-title-portfolio {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.section-text-portfolio {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.team-social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  list-style: none;
  gap: 24px;
}

.social-icons {
  width: 16px;
  height: 16px;
}

.team-social-list-links:hover,
.team-social-list-links:focus {
  background-color: var(--pressed-state);
}

.footer-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.footer-box {
  margin-right: 120px;
}

.footer-soc-text {
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: var(--white-color);
  margin-bottom: 16px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;

  list-style: none;
  gap: 16px;
}

.footer-social-list-links:hover,
.footer-social-list-links:focus {
  background-color: #31d0aa;
}

.footer-social-icons {
  width: 24px;
  height: 24px;
}

.customers {
  padding: 120px 0;
}

.customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;

  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--secondary-text-color);

  margin-bottom: 72px;
}

.customers-logo {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  list-style: none;
}

.customers-logo-link:hover,
.customers-logo-link:focus {
  border-color: var(--pressed-state);
}

.customers-logo-link:is(:hover, :focus) .customers-icons {
  fill: var(--pressed-state);
}

.customers-icons {
  width: 104px;
  height: 56px;
  fill: var(--customers-logo);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icons:hover,
.customers-icons:focus {
  fill: var(--pressed-state);
}

.team-social-list-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0px;

  background-color: var(--accent-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-list-links {
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;

  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-logo-link {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 168px;
  height: 88px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-card-cover {
  position: relative;
  overflow: hidden;
}

.project-card-block-text {
  background: var(--accent-color);
  height: 100%;
  position: absolute;
  top: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--button-background--);
  padding: 40px 32px 0 32px;
}

.project-card:hover .project-card-block-text {
  transform: translateY(0);
}

.backdrop {
  background: rgba(46, 47, 66, 0.4);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  scale: 1;
  opacity: 1;
  transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}
.modal-button {
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  margin-right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
  background-color: var(--pressed-state);
  fill: var(--white-color);
}

.modal-button-close {
  height: 8px;
  width: 8px;
  display: inline-block;
}

.is-hidden {
  opacity: 0;
  scale: 0.5;
  pointer-events: none;
  visibility: hidden;
}

/* .subscribe {
  margin-left: 80px;  
  } */

.subscribe-text {
  margin-bottom: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: var(--white-color);
}

.sub-form {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.e-mail-from {
  position: relative;
}

.e-mail-button {
  position: relative;
}

.sub-button {
  background: var(--accent-color);

  width: 165px;
  height: 40px;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.04em;
  color: var(--white-color);
  border: none;
  margin-left: 24px;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sub-button:hover,
.sub-button:focus {
  background: var(--pressed-state);
}

.sub-form input {
  width: 264px;
  height: 40px;
  border: 1px solid var(--white-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: var(--secondary-text-color);
  color: var(--white-color);
  padding-left: 16px;
}

.sub-form input::placeholder {
  font-size: 12px;
  line-height: 2;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--white-color);
}

.footer-mail-svg {
  display: flex;
  flex-wrap: wrap;
  width: 24px;
  height: 24px;
  margin-left: 16px;
}

.modal-text {
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  margin-top: 24px;
  margin-bottom: 16px;
}

.modal-data {
  list-style: none;
}

.margin {
  margin: 0;
}

.modal-form-data {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--customers-logo);
}

.modal-form-data input {
  margin: 0;
  padding-left: 36px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-data label {
  margin-bottom: 4px;
}

.modal-form-data input:hover,
.modal-form-data input:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}

.modal-form-data textarea {
  width: 100%;
  height: 120px;
  padding-top: 8px;
  padding-left: 16px;
}

.comment {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 16px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment:hover,
.comment:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}

.form {
  padding: 0 24px;
}

::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;

  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.privacy-policy-text {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
  color: var(--accent-color);
}

.sub-button-container {
  display: flex;
  flex-wrap: wrap;
}

.submit-button {
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding-bottom: 24px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  border: none;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-button:hover,
.submit-button:focus {
  background: var(--pressed-state);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
}

.modal-svg {
  width: 18px;
  height: 24px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-hover:hover + .modal-svg,
.modal-input-hover:focus + .modal-svg {
  fill: var(--accent-color);
}

.modal-svg-border {
  position: relative;
  margin-bottom: 8px;
}

.checkbox-icon {
  width: 16px;
  height: 16px;
  border: 1px solid #2e2f42;
  border-radius: 2px;
  display: inline-block;
}

.checkbox-policy {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--customers-logo);
}

.checkbox-modal-hiden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-modal-hiden:checked + .checkbox-icon {
  background-image: url(../images/clicknormal.svg);
  background-size: contain;
  border: none;
}

.checkbox-form {
  gap: 8px;
  cursor: pointer;
  margin-bottom: 24px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.header-mob-button {
  border: none;
  background: transparent;
}
.header-nav-button {
  display: block;
  width: 32px;
  height: 22px;
}

.mob-menu ul {
  list-style: none;
}
.mob-team-social-list {
  display: flex;
  gap: 56px;
}

.mob-menu {
  width: 100vw;
  height: 100%;
  background-color: var(--white-color);
  position: fixed;
  top: 0;
  z-index: 1;
  padding: 80px 35px 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}

.mob-menu-list {
}
.mob-menu-nav {
}
.mob-nav-title {
  margin-bottom: 40px;
}
.mob-nav-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-decoration: none;
  color: var(--secondary-text-color);
}
.mob-nav-link:hover,
.mob-nav-link:focus {
  color: var(--pressed-state);
}
.mob-menu-address {
}
.mob-mail-tel {
}
.mob-tel-link {
  text-decoration: none;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: var(--accent-color);
}
.mob-mail-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-decoration: none;

  letter-spacing: 0.02em;

  color: var(--primary-text-color);
}
.mob-nav-title {
}
.mob-team-social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  list-style: none;
  gap: 56px;
  margin-bottom: 40px;
}
.mob-team-social-links {
}
.mob-team-social-list-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0px;

  background-color: var(--accent-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-team-social-list-links:hover,
.mob-team-social-list-links:focus {
  background-color: var(--pressed-state);
}
.mob-social-icons {
  width: 24px;
  height: 24px;
}
.mob-modal-button {
  position: absolute;
  right: 0;
  top: 0;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  margin-right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
